################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TMS/.vs/TMS
/TMS/TMS.ClassAdminManagement/obj
